<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAdmin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/output.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

        @font-face {
            font-family: mono;
            src: url("/fonts/epilogue.ttf");
        }

        * {
            font-family: "Inter";
        }
    </style>
</head>

<body>
    <main class="flex  w-full h-fit relative ">

        <div class="side-stack p-4 px-8 md:h-[100vh] md:sticky fixed bottom-2  md:top-0 z-50 md:w-fit w-full ">
            <div
                class="md:h-full h-16 w-full md:w-16 md:py-4 px-4  rounded-full bg-gray-900 flex md:flex-col flex-row items-center justify-between">
                <div class="top md:h-fit md:w-full h-full  flex items-center justify-center ">
                    <img src="https://images.vexels.com/content/283648/preview/pink-rounded-star-9619ee.png"
                        class="h-9 w-9 object-cover" alt="">
                </div>
                <div class="center  flex md:flex-col md:h-fit h-full flex-row items-center gap-3">
                    <a href="#"><i class="ri-microsoft-fill text-3xl text-white"></i></a>
                    <div class="saperator md:h-[1px] md:w-full h-[40%] z-10 w-[1px] bg-gray-200/40">

                    </div>
                    <a href="#"><i class="ri-bar-chart-box-line text-3xl text-white"></i></a>
                </div>
                <div class="bottom flex flex-col items-center">
                    <a href="#" class="img-wrapper rounded-full overflow-hidden h-10 w-10">
                        <img class="h-full w-full"
                            src="https://img.freepik.com/free-psd/3d-render-avatar-character_23-2150611771.jpg"
                            alt="avatar">
                    </a>
                </div>
            </div>
        </div>


        <div class="main-stack h-fit md:w-[90%] w-full  p-4">

            <div class="hero mt-2 md:mt-6 flex md:flex-row flex-col  gap-3  w-full h-fit">
                <div
                    class=" md:h-80 h-52 rounded-xl relative flex flex-col p-8 bg-[url(/images/blue-bg.jpg)] bg-cover bg-top w-full md:w-[50%]">
                    <h1 class="font-[mono] text-[7vw] md:text-[4vw] leading-none uppercase text-white">Show An
                        Advertisement</h1>
                    <a href="#"
                        class="bg-gray-900 text-white h-14 items-center justify-center w-32 flex rounded-xl absolute bottom-3 right-3 font-[mono]">
                        Add Ads
                    </a>
                </div>
                <div class=" h-80 flex flex-col rounded-xl w-full lg:w-[30%] gap-4 ">
                    <div class="h-1/2 bg-blue-200 rounded-xl p-4 flex items-end relative">
                        <p class="text-lg font-[mono] leading-tight h-full">Total Registered Users</p>
                        <p
                            class="md:text-[5vw] text-[10vw] font-[mono] h-fit text-right  absolute bottom-3 right-3 w-44 leading-none line-clamp-1 break-words">
                            112K
                        </p>

                    </div>
                    <div class="h-1/2 flex gap-3">
                        <div id="yellow"
                            class=" duration-300 right h-full w-[70%] p-4 flex flex-col justify-between  rounded-xl bg-yellow-400">
                            <div>
                                <p class="text-xs font-medium text-gray-600">Total Admin count</p>
                            </div>
                            <h1
                                class="md:text-[5vw] text-[13vw] break-words line-clamp-1 leading-none px-2 font-[mono]">
                                143</h1>
                        </div>
                        <div
                            class="left h-full w-[30%] flex items-center justify-center rounded-xl border border-black">
                            <a href="#" class="h-full w-full">
                                <div class="add relative h-full w-full">
                                    <div
                                        class=" -z-10 ver h-7 w-[3px] bg-black absolute rotate-90 -translate-x-1/2 left-1/2 -translate-y-1/2 top-1/2">
                                    </div>
                                    <div
                                        class="-z-10 hor h-7 w-[3px] bg-black absolute -translate-x-1/2 left-1/2 -translate-y-1/2 top-1/2">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="relative h-80 rounded-xl  flex-col gap-4 items-center text-white hidden lg:flex bg-black/80 p-4 py-8 w-[20%]">
                    <p
                        class="absolute top-3 left-3 text-[10px] leading-none py-[4px] px-[8px] text-white w-fit h-fit bg-blue-600 rounded-full">
                        Admin</p>
                    <img class="changable-image w-24 h-24 rounded-full object-cover"
                        src="https://i.redd.it/3phhood6b1i71.jpg" alt="">
                    <div class="changable-name uppercase w-full  text-center font-[mono] line-clamp-2 text-xl">
                        THOR OdinSon

                    </div>
                    <div class="w-full flex mt-6">
                        <div class="w-1/2 flex flex-col items-center">
                            <p class="text-xs">
                                Total coins
                            </p>
                            <p class="text-sm text-gray-200 changable-coin">79</p>
                        </div>
                        <div class="seperator h-[90%] w-[1px] bg-gray-600/70 rounded-3xl"></div>
                        <div class="w-1/2 flex flex-col items-center">
                            <p class="text-xs">
                                Total Reffered
                            </p>
                            <p class="text-sm text-gray-200 changable-refer">943</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class=" w-full flex justify-between py-6">
                <div class="search">
                    <input type="text" id="search" class="bg-gray-300 rounded-xl p-2 px-3 focus:outline-none"
                        placeholder="Search">
                </div>
                <div class="others flex items-center gap-2">
                    <a href="#" class="px-2 py-1 bg-gray-300 rounded-xl"><i
                            class="ri-equalizer-2-line text-2xl text-gray-800"></i></a>
                    <a href="#" class="px-2 py-1 bg-gray-300 rounded-xl"><i
                            class="ri-notification-line text-2xl text-gray-800"></i></a>
                </div>
            </nav>

            <div class="admins mb-32">
                <div class="flex w-full items-center gap-3 justify-between">
                    <p class="font-[mono] md:text-lg text-sm w-[60%] md:w-[20%]">Top Ranking Admins!</p>
                    <p class="font-[mono] text-sm text-center">Total Coins</p>
                    <p class="font-[mono] text-sm text-center">Total Reffered</p>
                    <!-- <p class="w-[3vw]"> </p> -->
                </div>
                <ul class="flex flex-col w-full gap-3 mt-4">
                    <a href="" class="admin-list w-full">
                        <li class="w-full bg-gray-200 rounded-xl h-20 flex items-center justify-between px-5">
                            <div class="names flex w-[50%] md:w-[20%] items-center gap-3 ">
                                <div class="profile rounded-full overflow-hidden h-10 w-10 flex-shrink">
                                    <img class="w-10 h-10 object-cover"
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR9Ml4isYlB5Jl4j7NJWHHRxCcJoquPkoTVQ&s"
                                        alt="profile">
                                </div>
                                <div class="name font-[mono] w-[60%]  text-lg leading-tight line-clamp-2 border">
                                    Odin God
                                </div>
                            </div>
                            <div class="coins font-[mono] text-lg">83</div>
                            <div class="total-refer font-[mono] text-lg">193</div>
                            <!-- <div></div> -->

                        </li>
                    </a>
                    <a href="" class="admin-list w-full"></a>
                    <li class="w-full bg-gray-200 rounded-xl h-20 flex items-center justify-between px-5">
                        <div class="names flex w-[50%] md:w-[20%] items-center gap-3 ">
                            <div class="profile rounded-full overflow-hidden h-10 w-10 flex-shrink">
                                <img class="w-10 h-10 object-cover"
                                    src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d1/Cate_Blanchett_as_Hela.jpg/220px-Cate_Blanchett_as_Hela.jpg"
                                    alt="profile">
                            </div>
                            <div class="name font-[mono] w-[60%]  text-lg leading-tight line-clamp-2 border">
                                Hella the Witch
                            </div>
                        </div>
                        <div class="coins font-[mono] text-lg">79</div>
                        <div class="total-refer font-[mono] text-lg">722</div>
                        <!-- <div></div> -->

                    </li>
                    </a>

                </ul>
            </div>
        </div>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script>
        let changable_name = document.querySelector(".changable-name")
        let changable_coin = document.querySelector(".changable-coin")
        let changable_refer = document.querySelector(".changable-refer")
        let changable_image = document.querySelector(".changable-image")

        const scroll = new LocomotiveScroll({
            el: document.querySelector('.main-stack'),
            smooth: true
        });


        let admins = document.querySelectorAll(".admin-list")
        admins.forEach((admin) => {
            admin.addEventListener("mouseenter", () => {
                changable_name.innerHTML = admin.querySelector(".name").textContent;
                changable_coin.innerHTML = admin.querySelector(".coins").textContent;
                changable_refer.innerHTML = admin.querySelector(".total-refer").textContent;
                changable_image.src = admin.querySelector("img").src
            })
        })



    </script>
</body>

</html>